html {
    height: 98.5%;
    background-color: #3f3f3f;
    color: white;
}

.parent { 
    display: grid; 
    grid-template-columns: 45% repeat(2, 15%) 25%; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    height: 100%;
}
.div1 { grid-area: 1 / 1 / 6 / 2; overflow: scroll;} 
.div2 { grid-area: 1 / 2 / 6 / 3;  background-color: #242424; border-radius: 10px 0px 0px 10px;} 
.div3 { grid-area: 1 / 3 / 6 / 4; background-color: #242424;} 
.div4 { grid-area: 1 / 4 / 6 / 5; background-color: #242424; border-radius: 0px 10px 10px 0px;} 
.div5 { grid-area: 5 / 2 / 6 / 5; background-color: #1d1d1d; margin: 10px; border-radius: 10px;} 

.post {
    background-color: #242424;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-height: 70px;
    border-radius: 10px;
    display: block;
}

.post p {
    margin-top: 0;
    padding:5px;
}

.post .posthead {
    background-color: #1d1d1d;
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post input {
    background-color: #1d1d1d;
    padding: 10px;

    max-width: 100%;
    border-radius: 10px;
    border: 0px solid transparent;
    color: white;
    margin: 5px;
}

.posthead #title {
    background-color: #242424;
    padding: 10px;

    max-width: 100%;
    border-radius: 10px;
    border: 0px solid transparent;
    color: white;
    margin: 5px;
}

.post input {
    background-color: #1d1d1d;
    padding: 10px;

    max-width: 100%;
    border-radius: 10px;
    border: 0px solid transparent;
    color: white;
    margin: 5px;
}

.post button {
    background-color: #1d1d1d;
    padding: 10px;

    max-width: 100%;
    border-radius: 10px;
    border: 0px solid transparent;
    color: white;
    margin: 5px;;
}